@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: Nunito;
  src: url("../../public/fonts/Nunito-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  margin: 0;
  outline: 0;
  color: #fff;
  font-family: Nunito;
}
html {
  background-color: #0f0f0f;
}
.paddingBox {
  padding: 0 5vw;
}
.page {
  width: 100vw;
  height: auto;
}
.page-content {
  width: 100vw;
  height: auto;
}
.content {
  width: 100%;
  height: auto;
  min-height: 100vh;
}

@media screen and (min-width: 900px) {
  .paddingBox {
    padding: 0 15vw;
  }
}
