@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-color-1: #fff;
  --theme-color-2: #000;
  --theme-color-3: #202020;
  --theme-color-4: #141414;
  --theme-color-5: #101010;
}
::-webkit-scrollbar {
  display: none;
}
html {
  background-color: var(--theme-color-2);
}
body {
  padding: 0;
  margin: 0;
}
.navigation .navigation-container {
  width: 90%;
  backdrop-filter: blur(10px);
}
.navigation a span {
  color: var(--theme-color-1);
  font-size: 26px;
  text-shadow: 0 0 5px black;
}
.navigation a span::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  background-color: white;
  bottom: 0;
  left: auto;
  right: 0;
  transition: .3s ease;
}
.navigation a:hover span::after {
  width: 100%;
  left: 0;
  right: auto;
}
.navigation .navbtns {
  display: none;
}
.navigation .drop-btn {
  display: flex;
}
.tiles {
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
  row-gap: 1px;
  column-gap: 1px;
}
.tile {
  background-color: var(--theme-color-5);
}
.hero {
  background: linear-gradient(to right, var(--theme-color-2) 50%, var(--theme-color-1) 65%, var(--theme-color-2) 80%);
  background-size: 200%;
  animation: heroBackPan 6s linear infinite;
}
@keyframes heroBackPan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}
@media screen and (min-width: 900px) {
  .navigation .navigation-container {
    width: 70%;
  }
  .navigation .navbtns {
    display: flex;
  }
  .navigation .drop-btn {
    display: none;
  }
}